services:
    rsshub:
        # two ways to enable puppeteer:
        # * comment out marked lines, then use this image instead: diygod/rsshub:chromium-bundled
        # * (consumes more disk space and memory) leave everything unchanged
        image: diygod/rsshub:chromium-bundled
        restart: always
        ports:
            - '1200:1200'
        environment:
            NODE_ENV: production
            CACHE_TYPE: redis
            REDIS_URL: 'redis://redis:6379/'
            PUPPETEER_WS_ENDPOINT: 'ws://browserless:3000'  # marked
            BILIBILI_COOKIE_475310928: "buvid3=107CEFC0-728A-7379-2211-1C672380C4FF70837infoc; b_nut=1762952370; b_lsid=C5171210B_19A78265F53; _uuid=FE10FE4C3-1109E-F5E2-279A-13F910A8A310A872056infoc; buvid4=E20000EB-50A3-8F12-4349-FD643891470A71250-025111220-6SPUbCARgAWhHdr2K/uhsQ%3D%3D; buvid_fp=3f080e08345834778fc2571521cfac21; SESSDATA=b25a0c62%2C1778504395%2Cf0731%2Ab2CjCLn6Gh-edujXRjjuKhq4sMha_dw0YFFAm-IDmqJJd-TW0z5LjPjJZtqZNCl6IVegsSVnhnZlpYamtVTFZBczlRVjRQQk5rdXdiVjZ2ZUJhbm84aXpCUVpYMVRHTlhtTWxOdmpPeU5KZnZKNG80VWE4SG9PaWdUQzlyUS0tbEFTTEtCTS1ET2ZnIIEC; bili_jct=760abeb0270aa13e4db78532c2dc1626; DedeUserID=668924711; DedeUserID__ckMd5=c7254f4d6ef694e1; sid=5pua73fl; home_feed_column=4; browser_resolution=1020-809; theme-tip-show=SHOWED; bili_ticket=eyJhbGciOiJIUzI1NiIsImtpZCI6InMwMyIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NjMyMTE1OTksImlhdCI6MTc2Mjk1MjMzOSwicGx0IjotMX0.JUDYljS1CswOzGFz8gYxT-Qpuvyc8ydaB2n6vToTaFc; bili_ticket_expires=1763211539"
            ZHIHU_COOKIES: '_zap=d987efb5-c611-4123-9ab4-a6cc112a963d; d_c0=6JCTJ299_BqPTsb3QOnT6kEwPAFLgAESA1Q=|1756400914; __snaker__id=aFs4rZB5yGt882A2; q_c1=bf9957c49b15480cbba78010f07e98a2|1756400929000|1756400929000; _xsrf=2ppPEeM6cVsftqVWM2Re1jZZqpeC9xdK; __zse_ck=004_HXg3mW4RsVYikh7Ch=dwVnfOh10jXxZcJbr6hF5YkvKZIreuhSj8k0MOjs1clQ2F3cwtdLnZiQ06CdH5co3Ug1NbkQ5ro9bUYaZ9WVK2l2nQjNIpSSgsXpm1tIdq8rG2-IwQdwfQk5OR/3haZ8dmQX6511GgMh09NCl1WhlmbwV1y0hQeZ9tzV3xQL+hQvUBbFNYHxrS4yNTkmRSwOFxNALal/1WDVtn68IdC+HTxE9WdIWPBasxACi/Zd8sFfBNfb4thDuARraRlpQuMUmnPFtc9XAb1hVKtU4I1ceaxYdo=; Hm_lvt_98beee57fd2ef70ccdd5ca52b9740c49=1761294082,1761463249,1761558230,1761810584; HMACCOUNT=217B1E65703C81FE; SESSIONID=XDolgRJUtfdDPgJXae9TXtTJwcF5IErOTeuy5LOgWGr; JOID=WloUAUjK6S9-Oj1YK5hYtfFXSqU4mK5DE1ZlEX21hUg5a1EYcFfxLh07NFgpTKKoq8R0efWOhC7-F8666_TWet0=; osd=UlAUBEvC4y97OTVSK51bvftXT6Ywkq5GEF5vEXi2jUI5blIQelf0LRUxNF0qRKiorsd8c_WLhyb0F8u54_7Wf94=; z_c0=2|1:0|10:1761810588|4:z_c0|92:Mi4xbFFnVkVRQUFBQURva0pNbmIzMzhHaVlBQUFCZ0FsVk5XRXZ3YVFCa19CbzlTQ09lczFGOS1tQjBXUGhpeWxXNzNn|9abf6e0d33baa853e309cc1672b87777cc66a8645f78f9b2d6a1ebc1f7070584; BEC=19c89cd421104aa5ab0b51e49af75d17; Hm_lpvt_98beee57fd2ef70ccdd5ca52b9740c49=1761813687'
            XIAOHONGSHU_COOKIE: 'abRequestId=e8ce385d-b1b3-5d90-830c-8ad47607037f; a1=1948858c067c4l2rtb93nfdfpkh1kklwwtla5goe150000222298; webId=15a6f97f0f12cc57c288fe2cf641c388; gid=yj4YY2YSjyEyyj4YY2YS89klKWS41JF9DjqI1dyifiUTx028yTT1E2888JJJJjY8jK0y4222; customerClientId=047778448848058; x-user-id-creator.xiaohongshu.com=651f78410000000024017042; web_session=040069b46b3b09c3201481a6c03a4bdbbf385f; customer-sso-sid=68c517565419991094558720rcciuaeoz2mnkm55; access-token-creator.xiaohongshu.com=customer.creator.AT-68c517565419991094542336svprtzjvnqzjkwrj; galaxy_creator_session_id=9JhiTLJcbTGe33jJdeEHjX38WhOpN3gEbC89; galaxy.creator.beaker.session.id=1761461606029043302037; xsecappid=xhs-pc-web; webBuild=4.84.1; acw_tc=0a0b119b17618150447406872e088b8de32ca911b84f1947e6b39be7db35db; websectiga=2845367ec3848418062e761c09db7caf0e8b79d132ccdd1a4f8e64a11d0cac0d; sec_poison_id=88618671-08d6-47f3-a7f9-38c4905fc6eb; loadts=1761815066372; unread={%22ub%22:%2268f5a8260000000003034ca4%22%2C%22ue%22:%2268f903f00000000003034c0a%22%2C%22uc%22:26}'
        depends_on:
            - redis
            - browserless  # marked

    browserless:  # marked
        image: browserless/chrome  # marked
        restart: always  # marked
        ulimits:  # marked
          core:  # marked
            hard: 0  # marked
            soft: 0  # marked

    redis:
        image: redis:alpine
        restart: always
        volumes:
            - redis-data:/data

volumes:
    redis-data: